* {
    box-sizing: border-box;
}

@font-face {
    font-family: "YesevaOne";
    src: url("Fonts/Yeseva_One/YesevaOne-Regular.ttf");}

body, p {
    margin: 0px;
    background-color: #66a490;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
}

.itemcolumn {
    float: left;
    width: 50%;
    padding: 50px;
}

.itemrow::after {
    content: "";
    display: table;
    clear: both
}

h1 {
    font-size: 35px;
    padding-left: 50px;
}

h1, h2 {
    text-align: left;
    font-family: "YesevaOne";
    color: white
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    margin-right: 40px;
    padding: 15px;
    display: block;
    text-align: right;
}

.navbar a:hover {
    background-color: rgb(148, 148, 148)
}

.navbar ul {
    list-style: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.navbar li {
    float: left
}

h2 {
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
}

ul, ol {
    display: inline-block;
    width: fit-content;
    margin: 10 auto;
    font-size: 15pt;
}

.wikipedia {
    text-align: center;
    margin-bottom: 50px;
}

.wikipedia a {
    text-decoration: none;
    color: white;
    font-size: 15pt;
}

.container {
    width: 50%;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    transition: 1s;
}

.box img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.box:hover {
    transform: scale(1.2);
    z-index: 2;
}

p {
    text-align: center;
    padding-bottom: 20px
}

img.POPMART-Lil-Peach {float: left;
    padding: 20px 100px 50px 300px}

.POPMART-Lil-Peach {max-width: 100%;
                    max-height: 100%;
                    display: block;
                    margin: auto}

.figuredeets {
    padding-top: 100px;
    padding-right: 400px;
    font-size: 25pt
}