/* Main Content */
* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #949494;
}

/* Header */
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 40px 0px;
}
h1 {
    text-transform: uppercase;
    font-size: 35px;
    padding-left: 30px;
    text-align: left;
    color: white
}

/* Navigation Bar*/
.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 25px;
    margin-right: 60px;
    padding: 15px;
    display: block;
    text-align: right;
}
.navbar a:hover {
    background-color: #949494
}
.navbar ul {
    list-style: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.navbar li {
    float: left
}

/* About Me */
.aboutMe {
    padding-bottom: 200px;
}
.aboutContainer {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.contentSection {
    float: left;
    width: 55%;
    margin-top: 70px;
}
.imageSection {
    display: flex;
    width: 40%;
    position: relative;
    padding-left: 30px;
}
.imageSection img {
    width: 100%;
    max-width: 400px;
    border: none;
}
.aboutTextBox {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px;
    border-radius: 10px;
    height: 200px;
}
.contentSection .aboutTitle {
    text-transform: uppercase;
    font-size: 28px;
}
.contentSection .aboutTitle h2 {
    color: #ffffff;
}
.contentSection .aboutContent h3 {
    margin-top: 20px;
    color: #e1e1e1;
    font-size: 25px;
}
.contentSection .aboutContent p {
    color: #d1d1d1;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}

/* Assignment Images */
.container {
    display: flex;
    flex-direction: row; /* default */
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px auto;
    padding: 200px 0px;
}
.contentHeader {
    display: flex;
    padding: 20px 0px;
    margin-bottom: 0px;
    justify-content: center;
    color: white;
    font-size: 40px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
}
.box {
    width: 600px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    transition: 1.25s;
    position: relative;
}
.box img {
    display: block;
    width: 100%;
    border-radius: 5px;
}
.box:hover {
    transform: scale(1.2);
    z-index: 2;
}

/* Final Project Section */
.underConstruction {
    display: flex;
    margin: auto;
    padding: 150px 0px;
    justify-content: center;
}
.underConstruction h1 {
    font-size: 150px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #4d4c4c;
    margin-top: 50px;
    padding: 20px 0px;
    width: 100%;
}
.footerSection .social {
    display: flex;
    justify-content: center;
}
.footerSection .social a {
    text-decoration: none;
    color: rgb(0, 38, 255);
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}
.footerSection .social i:hover {
    color: rgb(0, 242, 255);
}
.footerBottom {
    padding-top: 30px;
    text-align: center;
    color: white;
}

/* Back to Top Button*/
.scrolltotop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 5%;
    background-color: rgb(0, 38, 255);
    color: #e8e8e8;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    z-index: 1000;
}
.scrolltotop:hover {
    background-color: rgb(0, 173, 183);
    color: white;
    font-size: 20px;
    padding: 20px;
}