/* Main Content */
* {
    padding: 0px;
    margin: 0px;
}

/* Header */
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px 2px;
}
h1 {
    text-transform: uppercase;
    font-size: 35px;
    padding-left: 30px;
    text-align: left;
    color: white
}

/* Navigation Bar*/
.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 25px;
    margin-right: 60px;
    padding: 15px;
    display: block;
    text-align: right;
}
.navbar a:hover {
    background-color: #949494
}
.navbar ul {
    list-style: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.navbar li {
    float: left
}